@import url("../variables");

.left-side {
    height: 100%;
    width: ~"calc(100% - 20px)";
    padding: 10px;
    box-shadow: -2px 0 10px @dark;

    &__row {
        cursor: pointer;
        font-size: 20px;
        color: #fff;
        padding: 10px;
    }
    &__row:hover {
        background-color: darken(@blue, 20%);
    }
}
