<ul>

    <!-- The toolbox only allows to copy objects, not move it. After a new
     element was created, dnd-copied is invoked and we generate the next id -->
    <li class="block" layout="row" ng-if="role"
        dnd-draggable="models.templates[role]"
        dnd-effect-allowed="copy"
        dnd-copied="models.templates[role].id = models.templates[role].id + 1"
        ng-transclude
    ></li>

    <!-- If you use [] as referenced list, the dropped elements will be lost -->
    <li class="block" layout="row" ng-if="!role"
        dnd-list="[]"
        ng-transclude
    ></li>

</ul>
