@import "../variables";

.code-blocks {
    width: 300px;
    height: 100%;
    margin: auto;
    color: @dark;
    padding-top: 100px;
}
.block {
    position: relative;
    width: 300px;
    height: 70px;
}
span {
    left: 0;
    cursor: grab;
}
.block-drag {
    z-index: 10;
    display: none;
}
.block-drop {
    top: 0;
    width: 300px;
    height: 70px;
    background-color: rgba(0,0,0, 0);
    padding: 0;
}
.selected {
    background-color: rgba(0,0,0, 0.1);
}
.visible {
    display: block;
}
