<div class="code-blocks layout-column">
    <!-- Blocks -->
    <div class="blocks" *ngFor="let block of codeblocks.list.blocks">

        <!-- Block -->
        <block [block]="block"
               (click)="emitSelect(block)"
               (remove)="emitRemove()">
        </block>

        <!-- Drag'n Drop -->
        <span class="block-drag" *ngIf="block.id > 1"
              [ngClass]="{'visible': block.selected}"
              (dragstart)="dragStart(block.id)"
              (dragend)="dragEnd()"
              draggable="true">
              <i class="material-icons">arrow_forward</i>
        </span>
        <span class="block-drop"
              [ngClass]="{'selected': block.selected }"
              (dragover)="dragOver($event, block.id)"
              *ngIf="codeblocks.dragging && block.id">
        </span>

    </div>
</div>
