/* code-blocks */
h2 {
    color: #48f;
}

/* ul */
.code-blocks__list {
    position: relative;
    list-style-type: none;
}

/* li */
.code-blocks__list_item {
    position: relative;
    height: 30px;
    border: 1px solid #000;
}

/* block */
.code-blocks__list_item block {
    position: absolute;
    left: 70px;
    padding: 5px;
    
}

/* span */
.code-blocks__list_item span {
    position: absolute;
    left: 0;
    top: 5px;
    width: 70px;
    color: #fff;
    text-align: center;
}
.code-blocks__list_item span:hover {
    background-color: #48f;
}

/* attrs */
.active {
    background-color: #6cf;
}
