<div class="code-blocks layout-column">
    <!-- Blocks -->
    <div class="blocks" *ngFor="let block of main['list'].blocks">

        <!-- Block -->
        <block [block]="block"
               (click)="selectEvent(block)"
               (remove)="removeEvent()">
        </block>

        <!-- Drag'n Drop -->
        <span class="block-drag"
              [ngClass]="{'visible': block.selected}"
              (dragstart)="dragStart(block.id)"
              (dragend)="dragEnd()"
              draggable="true">
              <i class="material-icons">arrow_forward</i>
        </span>
        <span class="block-drop"
              [ngClass]="{'selected': block.selected }"
              (dragover)="dragOver($event, block.id)"
              *ngIf="main['code-blocks'].dragging && block.id">
              <i class="material-icons">navigate_next</i>
        </span>

    </div>
</div>
