<div layout="row">
    <div flex></div>

    <i ng-click="openLeftMenu()" class="material-icons icon-button">play_arrow
        <md-tooltip>Run</md-tooltip>
    </i>
    <i class="material-icons icon-button">folder_open</i>
    <i class="material-icons icon-button">save</i>
    <!--<i ng-click="openFromRight()" id="open-icon" class="material-icons icon-button">folder_open-->
        <!--<md-tooltip>Open</md-tooltip>-->
    <!--</i>-->
    <!--<i ng-click="openRightMenu()" class="material-icons icon-button">save-->
    <!--<md-tooltip>Save</md-tooltip>-->
    <!--</i>-->

    <div flex></div>
</div>
