<div class="pop-up">

    <div class="title layout-row">
        <h4>{{ type }}</h4>
        <div class="flex"></div>
        <span (click)="emitClose()">
            <i class="material-icons">close</i>
        </span>
    </div>

    <div class="content layout-column">

        <div>
            <div *ngIf="type === 'assign'">
                <p>This type of block is used to declare variables, and do some operations.</p>
                <h4>Rules</h4>
                <p>- Every single variable and operation must be separated with spaces (' ')</p>
                <p>- There always must be a single equals-sign ('=')</p>
                <p>- On left side of equals-sign must be a single variable</p>
                <p>- The right side of equals-sign must contain only variables (declared) and operations (+ - * / %)</p>
            </div>
            <div *ngIf="type === 'write'">
                <p>This type of block is used print data to output</p>
                <h4>Rules</h4>
                <p>- Everything inside this block get's printed to the screen</p>
                <p>- To print out a variable, it must be declared and no other than the variable itself must be inside this block</p>
            </div>
        </div>

        <div class="layout-column" *ngIf="type === 'assign'">
            <div class="block layout-row">
                <block [block]="block[0]"></block>
            </div>
        </div>
        <div class="layout-column" *ngIf="type === 'write'">
            <div class="block layout-row">
                <block [block]="block[1]"></block>
                <div class="output">{{ block[1].data }}</div>
            </div>
        </div>

    </div>

</div>
