@import url("../variables");

.pop-up {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 500;
}

.help-mode, .setting-mode {
    position: absolute;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: @white;
    box-shadow: 2px 2px 15px 2px @dark;
    cursor: auto;

    .title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: @dark;
        color: @white;
        text-transform: uppercase;
    }
    .content {
        position: relative;
        top: 50px;
        padding: 25px;
        height: ~"calc(100% - 100px)";
        background: @white;
    }
    span {
        color: @white;
        position: relative;
        top: 0;
        &:hover {
            color: @blue;
        }
    }
    .output {
        position: absolute;
        top: 30px;
        left: 350px;
    }
    h3 {
        text-transform: uppercase;
    }
    h4 {
        cursor: pointer;

        &:hover {
            color: @blue;
        }
    }
    h5 {
        padding: 20px;
        cursor: pointer;
        margin: 0;

        &:hover {
            color: @blue;
        }
    }
}

.setting-mode {
    right: -300px;
}

.help-mode {
    left: 0;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0,0,0, 0.3);
}

.debug-mode {
    width: ~"calc(100% - 300px)";
    .backdrop {
        background-color: rgba(0,0,0, 0.1);
    }
}
