# compiled output
aot/*
dist/*

# dependencies
/node_modules

# IDEs and editors
/.idea
/.vscode

# ignore js and map files
app/**/*.js
app/**/*.map
app/**/*.css

# misc
npm-debug.log
system-config.js
system-config.js.map
