@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("app/variables");

html {
    .w100_h100;
    body {
        margin: 0;
        border: 0;
        padding: 0;
        .w100_h100;
        app {
            .w100_h100;
        }
    }
}

/* BASIC */
.w100_h100 {
    width: 100%;
    height: 100%;
}
.mobile {
    width: @w-mobile;
}
.tablet {
    width: @w-tablet;
}
.desktop {
    width: @w-desktop;
}

/* FLEX */
.layout-row {
    display: flex;
}
.layout-column {
    display: flex;
    flex-direction: column;
}
.flex {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
