.block {
  position: relative;
  width: 196px;
  height: 46px;
  border: 2px solid #333;
  padding: 10px 30px;
  background-color: #fff;
}
.block input {
  width: 100%;
  height: 100%;
  outline: 0;
  text-align: center;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.block i {
  position: absolute;
  top: calc(50% - 10px);
  font-size: 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
}
.block > div i:hover {
  color: #000000;
}
.block > div .pointer {
  cursor: move;
  left: -30px;
}
.block > div .clear-data {
  right: 12px;
}
.block > div .remove {
  right: -30px;
}
.block > div ._drag {
  background: #369;
}
.block .before1,
.block .after1,
.block .before2,
.block .after2 {
  display: none;
}
._selected {
  border: 2px solid #58c;
}
._selected input {
  cursor: text;
}
.begin .top {
  visibility: hidden;
}
.begin .block {
  border-radius: 25px;
}
.end .block {
  border-radius: 25px;
}
.end .bottom {
  visibility: hidden;
}
.write .before1 {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -2px;
  left: 0;
  border-bottom: 46px solid transparent;
}
.write .before2 {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -2px;
  left: -2px;
  border-bottom: 46px solid transparent;
}
.write .after1 {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -2px;
  left: 167px;
  border-top: 46px solid transparent;
}
.write .after2 {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -2px;
  left: 169px;
  border-top: 46px solid transparent;
}
.write ._deselected .before1 {
  border-left: 25px solid #333;
}
.write ._deselected .before2 {
  border-left: 25px solid #fff;
}
.write ._deselected .after1 {
  border-right: 25px solid #333;
}
.write ._deselected .after2 {
  border-right: 25px solid #fff;
}
.write ._selected .before1 {
  border-left: 25px solid #58c;
}
.write ._selected .before2 {
  border-left: 25px solid #fff;
}
.write ._selected .after1 {
  border-right: 25px solid #58c;
}
.write ._selected .after2 {
  border-right: 25px solid #fff;
}
.block-connection {
  position: relative;
  left: 98px;
  width: 2px;
  height: 20px;
  background: #333;
}
.input ._selected .before1 {
  border-left: 25px solid #333;
}
.input ._selected .before2 {
  border-left: 25px solid #369;
}
.input ._selected .after1 {
  border-right: 25px solid #333;
}
.input ._selected .after2 {
  border-right: 25px solid #369;
}
.input ._deselected .before1 {
  border-left: 25px solid #333;
}
.input ._deselected .before2 {
  border-left: 25px solid #369;
}
.input ._deselected .after1 {
  border-right: 25px solid #333;
}
.input ._deselected .after2 {
  border-right: 25px solid #369;
}
