.block {
  position: relative;
  width: 196px;
  height: 46px;
  border: 2px solid #333;
  padding: 10px 30px;
  background-color: #fff;
}
.block input {
  width: 100%;
  height: 100%;
  outline: 0;
  text-align: center;
  border: none;
  background-color: #fff;
}
.block > div i {
  position: absolute;
  top: calc(50% - 10px);
  font-size: 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
}
.block > div i:hover {
  color: #000000;
}
.block > div .fake-pointer {
  visibility: hidden;
  left: -30px;
  color: #369;
}
.block > div .pointer {
  left: -30px;
  padding: 10px;
}
.block > div .clear-data {
  right: 10px;
}
.block > div .remove {
  right: -30px;
}
.block > div ._drag {
  color: #f00;
}
._selected {
  border: 2px solid #369;
}
._hightlighted > div .pointer {
  visibility: hidden;
}
._hightlighted > div .fake-pointer {
  visibility: visible;
}
.begin {
  cursor: pointer;
}
.begin .top {
  visibility: hidden;
}
.begin .block {
  border-radius: 25px;
}
.begin .block__data {
  cursor: pointer;
}
.end {
  cursor: pointer;
}
.end .block {
  border-radius: 25px;
}
.end .block__data {
  cursor: pointer;
}
.end .bottom {
  visibility: hidden;
}
.block-connection {
  position: relative;
  left: 98px;
  width: 2px;
  height: 20px;
  background: #333;
}
