<!--
 Markup for lists inside the dropzone. It's inside a seperate template
 because it will be used recursively. The dnd-list directive enables
 to drop elements into the referenced array. The dnd-draggable directive
 makes an element draggable and will transfer the object that was
 assigned to it. If an element was dragged away, you have to remove
 it from the original list yourself using the dnd-moved attribute
-->
<div class="list">
    <ul dnd-list="list">
        <li ng-repeat="item in list"
            dnd-draggable="item"
            dnd-effect-allowed="move"
            dnd-moved="list.splice($index, 1)"
        >
            <item ng-if="item.type === 'item'" item="item"></item>
            <container ng-if="item.type === 'container'" container="item"></container>
        </li>
    </ul>
</div>
