<div class="col-md-2">

    <div class="toolbox box box-grey box-padding">
        <h3 style="text-decoration: underline;">Basic</h3>
        <div>
            <!-- The toolbox only allows to copy objects, not move it. After a new
                 element was created, dnd-copied is invoked and we generate the next id -->
            <div ng-repeat="item in models.templates" dnd-draggable="item" dnd-effect-allowed="copy">
                <div class="code" layout="column">
                    <span flex></span><span>{{item.content[0]}}</span><span flex></span>
                </div>
            </div>
        </div>
    </div>

    <div class="toolbox box box-grey box-padding">
        <h4>Variables</h4>
        <h6>(Not yet ready...)</h6>
    </div>

    <div class="toolbox box box-grey box-padding">
        <h4>Conditional Statements</h4>
        <h6>(Not yet ready...)</h6>
    </div>

    <div class="toolbox box box-grey box-padding">
        <h4>Loops</h4>
        <h6>(Not yet ready...)</h6>
    </div>

    <!--<div ng-if="models.selected" class="box box-grey box-padding">-->
        <!--<h3>Selected</h3>-->
        <!--<strong>Type: </strong> {{models.selected.type}}<br>-->
        <!--<input type="text" ng-model="models.selected.id" class="form-control" style="margin-top: 5px" />-->
    <!--</div>-->

    <div>
        <!-- If you use [] as referenced list, the dropped elements will be lost -->
        <h3 style="text-decoration: underline;">Trashcan</h3>
        <ul dnd-list="[]">DROP HERE!</ul>
    </div>

</div>
