.toolbar {
  display: flex;
  position: relative;
  height: 35px;
  background-color: #eee;
  box-shadow: 0 1px 5px #333;
  z-index: 100;
}
.toolbar__run {
  cursor: pointer;
  font-size: 25px;
  padding: 5px;
}
.toolbar__run:hover {
  background-color: #333;
  color: #eee;
}
.body {
  position: relative;
  display: flex;
  flex: 1;
  z-index: 99;
}
.body .side-panel {
  display: none;
  z-index: 98;
  background: #369;
  box-shadow: 1px 0 5px #333;
  min-width: 250px;
}
.body .side-panel__title {
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  background: #333;
  color: #eee;
}
.body .center {
  display: flex;
  flex: 1;
  background-color: #fff;
  z-index: 97;
}
.body .center .code-blocks {
  position: relative;
  display: flex;
  padding: 50px 0;
}
.body .center .code-blocks__wrapper {
  display: flex;
  flex-direction: column;
}
.body .center .code-blocks__backdrop {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}
.body .center .code-blocks ._disabled {
  display: block;
}
.body ._active {
  display: block;
}
