<div class="code-blocks layout-column">

    <toolbar (compile)="compile()" [toolbar]="style.toolbar"></toolbar>


    <div class="layout-row code-blocks__content">

        <div class="side-panel" *ngIf="style.input">
            <span class="side-panel__title">Input</span>
            <input-data (add)="add($event)"></input-data>
        </div>

        <div class="layout-row flex code-blocks">
            <div class="flex"></div>
            <div class="code-blocks__wrapper layout-column">
                <div class="block" *ngFor="let block of list.blocks">

                    <block [block]="block"
                           (click)="selectBlock(block)"
                           (remove)="remove()">
                    </block>

                    <span class="glyphicon-arrow-right"
                          [ngClass]="{'visible': block.selected}"
                          (dragstart)="dragStart(block.id)"
                          (dragend)="dragEnd()"
                          draggable="true">
                    <i class="material-icons md-dark">arrow_forward</i>
                </span>

                    <span class="glyphicon-circle-arrow-right"
                          [ngClass]="{'selected': block.selected }"
                          (dragover)="dragOver($event, block.id)"
                          *ngIf="style.blocks.dragging && block.id">
                    <i class="material-icons md-dark">navigate_next</i>
                </span>

                </div>
            </div>
            <div [ngClass]="{'_disabled': !style.input}"
                 class="code-blocks__backdrop">
            </div>
            <div class="flex"></div>
        </div>

        <div class="side-panel" *ngIf="!style.input">
            <span class="side-panel__title">Output</span>
            <output-data [outputData]="style.output"></output-data>
        </div>

    </div>

</div>
