@import "variables";

.main {
    position: relative;
    top: 35px;
    width: 100%;
    height: ~"calc(100% - 35px)";
}

.body {
    .lists {
        height: 100%;
        margin: auto;
        >div {
                width: 200px;
                padding: 10px;
                border: 1px solid @dark;
                margin: 20px 0;
        }
    }
}

toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    z-index: 100;
}

left-side,
right-side {
    width: 0;
    background-color: @blue;
    height: 100%;
    z-index: 90;
    transition: width 300ms ease;
}
left-side {
    left: 0;
}
right-side {
    right: 0;
}

.w250 {
    width: 250px;
}

/*
@media all and (max-width: @w-desktop) {

}

@media all and (max-width: @w-tablet) {

}

@media all and (max-width: @w-mobile) {

}
*/
