// COLORS
@blue: #369;
@dark: #333;
@white: #eee;

// SIZES
@w-xsm: 320px;
@w-sm: 768px;
@w-md: 960px;
@w-lg: 1280px;
@w-xlg: 1920px;

// FLEX
.flex {
    flex: 1;
    -webkit-flex: 1;
}
.layout-row {
    display: flex;
    display: -webkit-flex;
}
.layout-column {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
