<div layout="row">
    <span ng-click="refreshPage()" class="logo">
        <span class="alsu">ALSU2+++</span>
    </span>
    <span flex></span>

    <span ng-click="compileAndRun()" class="tool">
        <i class="material-icons run">play_arrow</i>
        <md-tooltip md-direction="right">{{toolbar.run}}</md-tooltip>
    </span>

    <span flex></span>
    <span class="tool">
        <i class="material-icons menu">menu</i>
        <!--<md-tooltip md-direction="left">{{toolbar.settings}}</md-tooltip>-->
    </span>
</div>
