.w100_h100 {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: #303030;
}
body > div {
  width: 100%;
  height: 100%;
}
body > div .app-ui {
  width: 100%;
  height: 100%;
}
.toolbar {
  height: 48px;
  background-color: #000000;
}
.toolbar__tool {
  position: relative;
  width: 100px;
  height: 24px;
  margin: 5px;
  padding-top: 8px;
  color: #95ff6c;
  text-align: center;
  cursor: pointer;
}
.toolbar__tool i {
  position: absolute;
  font-size: 32px;
  top: 0;
  left: 5px;
}
.toolbar__tool span {
  position: absolute;
  font-size: 16px;
  top: 8px;
  left: 45px;
}
.toolbar__tool:hover {
  background-color: #95ff6c;
  color: #303030;
}
.toolbar__title {
  width: 100%;
  color: #FFF;
  height: 48px;
  font-size: x-large;
  padding: 10px;
}
.toolbar i {
  padding: 10px;
}
.toolbar .icon-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #aaa;
}
.toolbar .icon-button:hover {
  color: #fff;
}
.toolbar .icon-button:focus {
  outline: none;
}
.code {
  height: 30px;
  border: 1px solid #95ff6c;
  color: #000;
  text-align: center;
  cursor: pointer;
}
.block {
  min-width: 150px;
  height: 50px;
  border: 1px solid #95ff6c;
  color: #FFF;
  cursor: pointer;
  padding-left: 10px;
}
.block:hover {
  color: #12f6e9;
  border: 1px solid #12f6e9;
}
ul,
li {
  border: 1px solid #12f6e9;
  list-style-type: none;
  min-height: 60px;
}
.block-box {
  width: 200px;
  height: 100%;
}
.disabled-features {
  cursor: not-allowed;
}
.blocks {
  width: 300px;
  color: #303030;
  padding: 10px;
}
.blocks .trash {
  height: 60px;
  padding-left: 30px;
  color: #95ff6c;
  background-color: #303030;
}
.blocks .trash i {
  font-size: 34px;
}
.blocks .trash span {
  position: relative;
  font-size: x-large;
  top: -10px;
}
.blocks .trash ul {
  list-style: none;
  padding-left: 0;
  border: none;
}
.blocks .trash .dndPlaceholder {
  display: none;
}
.blocks .icon-button-blocks {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #888;
}
.blocks .icon-button-blocks:hover {
  color: #000;
}
.blocks .icon-button-blocks:focus {
  outline: none;
}
.program {
  background-color: #303030;
  width: calc(100% - 52px);
  height: calc(100% - 48px);
  color: #FFF;
  padding: 20px;
}
.required {
  overflow-y: hidden;
}
.required ul[dnd-list],
.required ul[dnd-list] > li {
  position: relative;
}
