/* FLEX */
.flex {
  flex: 1;
  -webkit-flex: 1;
}
.layout-row {
  display: flex;
  display: -webkit-flex;
}
.layout-row-left {
  display: flex;
  justify-content: flex-start;
  display: -webkit-flex;
  -webkit-justify-content: flex-start;
}
.layout-row-middle {
  display: flex;
  justify-content: space-around;
  display: -webkit-flex;
  -webkit-justify-content: space-around;
}
.layout-row-right {
  display: flex;
  justify-content: flex-end;
  display: -webkit-flex;
  -webkit-justify-content: flex-end;
}
.layout-row-center {
  display: flex;
  align-items: stretch;
  display: -webkit-flex;
  -webkit-align-items: stretch;
}
.layout-row-custom {
  display: flex;
  display: -webkit-flex;
}
.layout-row-custom_start {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.layout-row-custom_center {
  -webkit-align-self: center;
  align-self: center;
}
.layout-row-custom_end {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.layout-column {
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
