<div>

    <!-- Markup for lists inside the dropzone. It's inside a seperate template
     because it will be used recursively. The dnd-list directive enables
     to drop elements into the referenced array. The dnd-draggable directive
     makes an element draggable and will transfer the object that was
     assigned to it. If an element was dragged away, you have to remove
     it from the original list yourself using the dnd-moved attribute -->
    <script type="text/ng-template" id="list.html">
        <ul dnd-list="list">
            <li ng-repeat="item in list"
                dnd-draggable="item"
                dnd-effect-allowed="move"
                dnd-moved="list.splice($index, 1)"
                dnd-selected="models.selected = item"
                ng-class="{selected: models.selected === item}"
                ng-include="item.type + '.html'">
            </li>
        </ul>
    </script>

    <!-- This template is responsible for rendering a container element. It uses
         the above list template to render each container column -->
    <script type="text/ng-template" id="container.html">
        <div layout="row">
            <h1>Booooooooooooooooooooooooooooooom</h1>
        </div>
        <div layout="row">
            <div layout="column" flex>
                <div ng-repeat="list in item.columns[0]" ng-include="'list.html'"></div>
            </div>
            <div layout="column" flex>
                <div ng-repeat="list in item.columns[1]" ng-include="'list.html'"></div>
            </div>
        </div>
    </script>

    <!-- Template for a normal list item -->
    <script type="text/ng-template" id="item.html">
        <div class="item">Block {{item.id}}</div>
    </script>

    <!-- Main area with dropzones and source code -->
    <div layout="column">
        <div layout="row">
            <div ng-repeat="(zone, list) in models.dropzones" layout="column" flex>
                <div class="dropzone">
                    <!-- The dropzone also uses the list template -->
                    <div ng-include="'list.html'"></div>
                </div>
            </div>
        </div>

        <div view-source="nested"></div>
    </div>

</div>
