@import "../../variables";

.alsu-input {
    position: relative;
    width: 300px;
    height: 70px;
}
span {
    right: 0;
}

:host /deep/ block {
    .connect-bottom, .connect-top {
        visibility: hidden;
    }
}
