@import "variables";

toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    z-index: 100;
}

.main {
    position: relative;
    top: 35px;
    height: ~"calc(100% - 35px)";
    width: 100%;
    background-color: @white;

    .body {
        position: relative;
        margin: auto;
        height: 100%;

        code-blocks {
            position: relative;
            height: 100%;
            margin: auto;
        }
        .body-backdrop {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 90;
        }

    }
}

left-side {
    left: 0;
}
right-side {
    right: 0;
}
left-side, right-side {
    width: 0;
    background-color: @blue;
    height: 100%;
    z-index: 90;
    transition: width 150ms ease;
}

.hide {
    display: none;
}

