@import "/alsu/structure/variables";

html {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
app {
    width: 100%;
    height: 100%;
}
main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5StnKWgpfO2iSkLzTz-AABg.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

// responsive styles
.none {
    .side-panel {
        display: none;
    }
}
.phone {
    .body {
        background-color: @dark;
        width: @w-xsm - 20px;
    }
    .side-panel {
        width: 20px;
        .left-side, .right-side {
            display: none;
        }
    }
}
.tablet {
    .body {
        width: @w-sm - 40px;
        background-color: @white;
    }
    .side-panel {
        width: 40px;
        .left-side, .right-side {
            display: none;
        }
    }
}
.desktop1 {
    .body {
        width: @w-md - 250px;
        background-color: @dark;
    }
    .side-panel {
        width: 250px;
    }
}
.desktop2 {
    .body {
        width: @w-lg - 250px;
        background-color: @white;
    }
    .side-panel {
        width: 250px;
    }
}
.all {
    .body {
        width: @w-xlg - 250px;
        background-color: @dark;
    }
    .side-panel {
        width: 250px;
    }
}


// the order is important! (desc)
@media all and (min-width: @w-xlg) {
    .main {
        .all;
    }
}
@media all and (max-width: @w-xlg) {
    .main {
        .desktop2;
    }
}
@media all and (max-width: @w-lg) {
    .main {
        .desktop1;
    }
}
@media all and (max-width: @w-md) {
    .main {
        .tablet;
    }
}
@media all and (max-width: @w-sm) {
    .main {
        .phone;
    }
}
@media all and (max-width: @w-xsm) {
    .main {
        .none;
    }
}
