@import url("../../variables");

.block {
    position: relative;

    input {
        position: absolute;
        left: 50px;
        top: 10px;
        width: 158px;
        height: 44px;
        outline: 0;
        text-align: center;
        border: 2px solid @dark;
        background-color: @white;
        padding: 2px 20px;
    }
    input:hover {
        background-color: #fff;
    }
    .remove-text {
        right: 50px;
        padding: 17px 1px;
        width: 18px;
        height: 18px;
        i {
            font-size: 18px;
        }
    }
    .remove-text:hover {
        background-color: rgba(0,0,0, 0);
    }
    .remove-block {
        right: 0;
    }
}
.block_selected {
    input {
        cursor: text;
    }
}
.block_disabled {
    input {
        cursor: pointer;
    }
}
.connect-top {
    position: absolute;
    top: 0;
    left: 149px;
    width: 2px;
    height: 10px;
    background: @dark;
}
.connect-bottom {
    position: absolute;
    top: 60px;
    left: 149px;
    width: 2px;
    height: 10px;
    background: @dark;
}
.begin {
    border-radius: 50px;
    .connect-top {
        visibility: hidden;
    }
}
.end {
    border-radius: 50px;
    .connect-bottom {
        visibility: hidden;
    }
}
