<!-- Shape -->
<canvas #myBlock width="200" height="50"></canvas>
<canvas *ngIf="block.type === 'if-else' || block.type === 'while'" #myBlock width="300" height="100"></canvas>

<div class="connect-top" *ngIf="block.type !== 'begin'"></div>
<div class="connect-bottom" *ngIf="block.type !== 'end'"></div>

<!-- Input -->
<input [ngClass]="{'selected': block.selected}"
       class="input {{ block.type }}"
       placeholder="{{ block.type }}"
       [disabled]="block.disabled"
       [(ngModel)]="block.data"
       type="text"
/>

<!-- Buttons -->
<div *ngIf="block.selected && block.draggable">
    <span class="remove-text"
          (click)="clearText()">
          <i class="material-icons">close</i>
    </span>
    <span class="remove-block"
          (click)="emitRemove()">
          <i class="material-icons">delete</i>
    </span>
</div>
