<div class="block-data">

    <div class="block_unselected" *ngIf="!block.selected" (click)="select(block)">
        <span class="block__data">{{block.data}}</span>
    </div>
    
    <div class="block_selected" *ngIf="block.selected">
        <input class="block__data" type="text" [(ngModel)]="blockData" />
        <button class="block__data_cancel" type="button" (click)="cancel()">Close</button>
        <button class="block__data_update" type="button" (click)="update()">Save</button>
    </div>

</div>
