.input-data {
  display: flex;
  flex-direction: column;
}
.input-data .block {
  display: flex;
  position: relative;
  padding: 0 10px;
}
.input-data .block > div {
  flex: 1;
  cursor: pointer;
}
.input-data .block .add {
  position: relative;
  float: left;
  top: 30px;
  left: 5px;
  font-size: 30px;
  visibility: hidden;
  color: #eee;
}
.input-data .block:hover .add {
  visibility: visible;
}
