.input-data {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    .input-blocks {
        display: flex;
        position: relative;
        padding: 10px;

        .glyphicon-plus {
            position: absolute;
            cursor: pointer;
            top: 43px;
            left: 166px;
            font-size: 20px;
            color: rgba(51, 51, 51, 0.2);
        }
        .glyphicon-plus:hover {
            color: rgb(51, 51, 51);
        }
    }

}

:host /deep/ block {

    .connect-bottom,
    .connect-top {
        visibility: hidden;
    }

}

