.input-data {
    display: flex;
    flex-direction: column;

    .block {
        display: flex;
        position: relative;
        padding: 10px;

        > div {
            flex: 1;
            cursor: pointer;
        }
        .add {
            position: relative;
            float: left;
            top: 30px;
            left: 5px;
            font-size: 30px;
            visibility: hidden;
            color: #333;
        }
    }
    .block:hover {
        .add {
            visibility: visible;
        }
    }
}

:host /deep/ block {

    .block-connection {
        visibility: hidden;
    }

    .block {
        border: 2px solid #333;
    }

}

