.input-data {
  display: flex;
  flex-direction: column;
}
.input-data .input-blocks {
  display: flex;
  position: relative;
  padding: 10px;
}
.input-data .input-blocks > div {
  flex: 1;
  cursor: pointer;
}
.input-data .input-blocks .glyphicon-plus {
  position: relative;
  float: left;
  top: 30px;
  left: 5px;
  font-size: 20px;
  color: rgba(51, 51, 51, 0.2);
}
.input-data .input-blocks .glyphicon-plus:hover {
  color: #333333;
}
:host /deep/ block .block-connection {
  visibility: hidden;
}
:host /deep/ block .block {
  border: 2px solid #333;
}
